<% if (errors && errors.length > 0) { %>
    <div class="alert alert-danger">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>

<div class="container-fluid">
    <form action="/register/new-fuel-type" method="POST">
        <div class="row">
            <div class="col-md-8"> 
                <div class="mb-3">
                    <label for="fuel_name" class="form-label">Fuel Name:</label>
                    <input type="text" class="form-control" id="fuel_name" name="fuel_name" required>
                </div>

                <div class="mb-3">
                    <label for="density" class="form-label">Density:</label>
                    <input type="text" class="form-control" id="density" name="density" required>
                </div>

                <div class="mb-3">
                    <label for="price_per_liter" class="form-label">Price per Liter:</label>
                    <input type="text" class="form-control" id="price_per_liter" name="price_per_liter" required>
                </div>
            </div>
        </div>
    
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>